.container {
    display: -webkit-flex;
    display: flex;
    border: solid red 5px;
}

nav {
    width: 200px;
    border: solid blue 5px;
}

.flex-column {
    -webkit-flex: 1;
    flex: 1;
    border: solid yellow 5px;
}

section {
    width: 99%;
    border: solid green 5px;
}

.initial {
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
    border: solid yellow 5px;
}

.none {
    -webkit-flex: none;
    flex: none;
    width: 200px;
    border: solid yellow 5px;
}

.flex1 {
    -webkit-flex: 1;
    flex: 1;
    border: solid yellow 5px;
}

.flex2 {
    -webkit-flex: 2;
    flex: 2;
    border: solid yellow 5px;
}

.vertical-container {
    height: 300px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border: solid blueviolet 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}