nav {
    float: left;
    width: 190px;
    border: solid blue 5px;
}

section {
    margin-left: 200px;
    border: solid green 5px;
}

.clearfix {
    border: solid yellow 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}