.box1 {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: solid red 5px;
}

section {
    border: solid blue 5px;
}

.box2 {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
    border: solid green 5px;
}

.after-box {
    clear: left;
    border: solid yellow 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}