img {
    float: right;
}

.clearfix {
    overflow: auto;
    zoom: 1;
    border: solid blue 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}