article img {
    float: right;
    width: 50%;
    max-width: 300px;
    min-width: 100px;
}

nav {
    float: left;
    width: 24.5%;
    border: solid blue 5px;
}

section {
    margin-left: 25%;
    border: solid red 5px;
}

.container {
    border: solid yellow 5px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
    border: solid green 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}