nav {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    border: solid blue 5px;
    float: left;
}

.column {
    display: inline-block;
    vertical-align: top;
    width: 70%;
    border: solid red 5px;
}

section {
    border: solid green 5px;
}

.container {
    border: solid yellow 5px;
}

html {
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
    padding-top: 10px;
}

h1 {
    color: blueviolet;
}
